<% if !@alexa_rank.empty? %>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
$(function () {
  var ypoints = [
    <% @alexa_rank.each do |site| %>
      <%= site.rank.to_s %>
    <% end %>
  ];




    $('#container').highcharts({
        title: {
            text: 'Alex Rank',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: www.alexa.com',
            x: -20
        },
        xAxis: {
            categories: ['Date conversion fails']
        },
        yAxis: {
            title: {
                text: 'Global Rank'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'th Rank'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Rank',
            data: ypoints
        }]
    });
});
</script>




  <table>
    <tr>
      <th>Rank</th>
      <th>Date</th>
    </tr>
    <% @alexa_rank.each do |site| %>
      <tr>
        <td><%= site.rank %></td>
        <td><%= site.created_at %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Back", :back %>
<% end %>
