
<div class="row">
    <div class="col-md-12 domain-display">
        <% collect.websites.any? %>
            <% collect.websites.each do |url| %>
                <h3>
                    <%= link_to url.url, url ,:remote => true %>
                </h3>
                <%= link_to "Delete", website_path(url.id, collection_id: collect.id),
                    data: { confirm: "Are you sure?" },
                    class: 'domain-delete',
                       method: :delete %><br>
                    <% end %>
    </div>

</div>




