<!-- <% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row">
      <div class='col-md-6 col-md-offset-3'>
        <% @user.each do |user| %>
          <% if current_user != user %>
            <b style='font-size: 22px;'><%= user.name %>
            <%= user.email %></b>
            <%= link_to "Delete", static_pages_destroy_path(user.id),
                          data: { confirm: "Are you sure?" },
                          method: :delete,
                          class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render 'user' %>
  <% end %>
<% end %> -->
    <!-- <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container"> -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">RankHub</a>
            </div> -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Sign In</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container-fluid -->
    <!-- </nav> -->
    <header>
        <div class="container">
            <div class="row-fluid">
                <div class="col-sm-6">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h2>Keep Consistent Watch Over Your Competitors Online Presence With Our Bundle Of Smart Tools</h2>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll">Create Free Account!</a>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-right">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 style="font-weight: 800;">STAY</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 id="animate" class="animated infinite fadeInUp">SMART</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="download" class="download bg-primary text-center">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12 ">
                    <h2 class="section-heading">How It Works</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h3>Add Competitor Url</h3>
                            <div class="row">
                                <img src="img/1.png" style="height:250px" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <h3>Add Your Url</h3>
                            <div class="row">
                                <img src="img/2.png" style="height:250px" alt="">
                            </div>
                        </div>
                        <div class="col-md-12 text-center" style="margin-top:15px;">
                            <h3>Review Your Position</h3>
                            <div class="row-fluid">
                                <img src="img/3.png" style="max-width:100%;height:auto" alt="">
                            </div>
                        </div>
                        <br>
                        </br>
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin-top:30px;">
                                <a href="#" class="btn btn-outline btn-xl page-scroll">Create Free Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="features" class="features" style="background-color:#99e699">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2> Features</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <img src="img/cup.png" style="height:150px" alt="">
                            <h3>Alexa Rank Keeper</h3>
                        </div>
                        <div class="col-md-4 ">
                            <img src="img/medal.png" style="height:150px" alt="">
                            <h3>Add Unlimited Competitors</h3>
                        </div>
                        <div class="col-md-4">
                            <img src="img/interface.png" style="height:150px" alt="">
                            <h3>Daily Ranking Updates</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-12 text-center">
                            <br>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll">Create Free Account!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="contact bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2> Pricing</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h3>Using RankHub is Free</h3>
                    <h3>No subscription Fee, No Contract</h3>
                    <h3>We help you to help yourself</h3>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2016 All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Terms of Services</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
            </ul>
        </div>
    </footer>
