 <h1>New message from RankHub</h1>
    <p>
      <h2>Name</h2>
      <%= @cont.name %>
      <h2>Email</h2>
      <%= @cont.email %>
      <h2>Message</h2>
      <%= @cont.message %>
   
      <br>
    </p>
   
    
