 <h1>Feedback message from RankHub</h1>
    <p>
      <h2>Name</h2>
      <%= @feedback.name %>
      <h2>Email</h2>
      <%= @feedback.email %>
      <h2>Message</h2>
      <%= @feedback.message %>
      <br>
    </p>
   
    
