<h1>Thank you for requesting an invite to Use Rankhub<br></h1>

<p>We are priviledged to give you an invite to Beta Test Rankhub.
  Just follow the link below:</p>

<p><%= invites_url(token: @invite.token) %></p>

<p>We are looking forward to have you onboard.
  Also your feedback is valuable.
  Do share your thoughts in our feedback section</p>

<br>

Thanks for joining and have a great day!