 <h1>Welcome to RankHub</h1>
    <p>
      You have successfully signed up to RankHub.
<br>
      The next thing you have to do is Add all the URLs of competitors and track their ranking activities.
<br>
      Feel free to let us know about how you think we can Improve RankHub
   
      <br>
    </p> 
   
    <p>Thank You</p>
