/* line 3, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.heading-font {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

/* line 9, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.body-font {
  font-family: Muli, Helvetica, Arial, sans-serif;
}

/* line 13, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.alt-font {
  font-family: Lato, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 19, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
body,
html {
  height: 100%;
  width: 100%;
}

/* line 25, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
body {
  font-family: Muli, Helvetica, Arial, sans-serif;
  webkit-tap-highlight-color: #222;
}

/* line 31, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default,
.navbar-default .navbar-header .navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

/* line 44, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.modal-content {
  color: black;
  text-align: left;
}

/* line 50, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
a {
  -webkit-transition: all .35s;
  transition: all .35s;
  color: black;
}

/* line 57, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
a:focus,
a:hover {
  color: #fcbd20;
}

/* line 62, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

/* line 69, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
hr.light {
  border-color: #fff;
}

/* line 76, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.terms p {
  font-size: 12px;
}

/* line 81, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default {
  background-color: #fff;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all .35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/* line 89, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .navbar-header .navbar-brand {
  color: white;
}

/* line 93, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.btn,
.navbar-default .nav > li > a {
  font-family: Lato, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

/* line 99, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:hover {
  color: white;
  font-size: 12px;
}

/* line 105, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .navbar-header .navbar-toggle {
  font-size: 20px;
  color: white;
  padding: 8px 10px;
}

/* line 111, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .nav > li > a {
  font-size: 15px;
}

/* line 115, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: white;
}

/* line 120, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .nav > li > a:focus:hover,
.navbar-default .nav > li > a:hover {
  color: white;
}

/* line 125, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: white;
  background-color: transparent;
}

/* line 131, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.navbar-default .nav > li.active > a:focus:hover,
.navbar-default .nav > li.active > a:hover {
  background-color: transparent;
}

@media (min-width: 600px) {
  /* line 137, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  /* line 141, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default .navbar-header .navbar-brand {
    color: white;
  }

  /* line 144, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default .navbar-header .navbar-brand:focus,
  .navbar-default .navbar-header .navbar-brand:hover {
    color: white;
  }

  /* line 148, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white;
  }

  /* line 152, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default .nav > li > a:focus:hover,
  .navbar-default .nav > li > a:hover {
    color: white;
  }

  /* line 156, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, 0.1);
  }

  /* line 160, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default.affix .navbar-header .navbar-brand {
    color: white;
  }

  /* line 163, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default.affix .navbar-header .navbar-brand:focus,
  .navbar-default.affix .navbar-header .navbar-brand:hover {
    color: white;
  }

  /* line 167, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white;
  }

  /* line 171, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  .navbar-default.affix .nav > li > a:focus:hover,
  .navbar-default.affix .nav > li > a:hover {
    color: white;
  }
}
/* line 177, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), #7b4397;
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), -webkit-linear-gradient(right, #7b4397, #dc2430);
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), linear-gradient(to left, #7b4397, #dc2430);
  color: #fff;
}

/* line 188, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}

/* line 194, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

/* line 200, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}

/* line 206, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}

/* line 210, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}

/* line 215, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}

/* line 220, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
header .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 768px) {
  /* line 225, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  header {
    min-height: 100%;
  }

  /* line 228, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }

  /* line 233, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 10%;
  }

  /* line 241, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }

  /* line 244, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
/* line 251, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer,
section.contact {
  text-align: center;
}

@media (min-width: 992px) {
  /* line 257, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}
/* line 262, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section {
  padding: 100px 0;
}

/* line 266, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section h2 {
  font-size: 50px;
}

/* line 270, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.download {
  padding: 150px 0;
  position: relative;
}

/* line 275, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.download h2 {
  margin-top: 0;
  font-size: 50px;
}

/* line 280, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

/* line 285, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

/* line 289, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  /* line 294, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }

  /* line 298, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  section.download h2 {
    font-size: 70px;
  }
}
/* line 303, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .section-heading {
  margin-bottom: 100px;
}

/* line 307, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .section-heading h2 {
  margin-top: 0;
}

/* line 311, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .section-heading p {
  margin-bottom: 0;
}

/* line 315, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .device-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}

/* line 321, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  /* line 326, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  section.features .device-container {
    margin-bottom: 0;
  }

  /* line 329, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  section.features .device-container,
  section.features .feature-item {
    max-width: none;
  }
}
/* line 335, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}

/* line 340, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact h2,
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 346, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .feature-item h3 {
  font-size: 30px;
}

/* line 350, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.features .feature-item i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: -webkit-linear-gradient(right, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 358, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.cta {
  position: relative;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url(../img/bg-cta.jpg);
  padding: 250px 0;
}

/* line 369, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.cta .cta-content {
  position: relative;
  z-index: 1;
}

/* line 374, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.cta .cta-content h2 {
  color: #fff;
  max-width: 450px;
  font-size: 50px;
}

@media (min-width: 768px) {
  /* line 381, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
/* line 386, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.cta .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

/* line 395, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer ul,
section.contact ul.list-social {
  margin-bottom: 0;
}

/* line 400, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact h2 i {
  color: #dd4b39;
}

/* line 404, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: #fff;
}

/* line 414, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer p,
footer ul li a {
  font-size: 12px;
}

/* line 419, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer,
footer ul li a {
  color: rgba(255, 255, 255, 0.3);
}

/* line 424, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

/* line 428, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

/* line 432, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

/* line 436, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

/* line 440, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

/* line 444, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

/* line 448, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer {
  background-color: black;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  #position: fixed;
  bottom: 0px;
}

/* line 459, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.innerFoot {
  padding-top: 10px;
  background-color: #800000;
  color: white;
  padding-bottom: 10px;
}
/* line 465, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.innerFoot .msg-in a {
  color: white !important;
}

/* line 471, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.foot_in {
  position: fixed;
  background-color: black;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0px;
}

/* line 483, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.container {
  position: relative;
}

/* line 487, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer p {
  margin: 0;
}

/* line 491, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
footer ul li a.active,
footer ul li a:active,
footer ul li a:focus,
footer ul li a:hover {
  text-decoration: none;
}

/* line 498, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.bg-primary {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), #fdcc52;
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), -webkit-linear-gradient(to left, #ffe066, #ffe066);
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), -webkit-linear-gradient(right, #337ab7, #337ab7);
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), linear-gradient(to left, #337ab7, #337ab7);
  color: #fff;
}

/* line 510, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.features {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), #7b4397;
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), -webkit-linear-gradient(right, #689F38, #00897B);
  background: url("/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png"), linear-gradient(to left, #689F38, #00897B);
}

/* line 522, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.text-primary {
  color: #fdcc52;
}

/* line 526, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/* line 531, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.btn-outline {
  color: #fff;
  border: 1px solid;
}

/* line 536, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: #fff;
  background-color: #fdcc52;
  border-color: #fdcc52;
}

/* line 545, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.btn {
  border-radius: 300px;
}

/* line 549, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.btn-xl {
  padding: 15px 45px;
  font-size: 15px;
}

/* line 554, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #222;
}

/* line 560, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #222;
}
::selection {
  color: #fff;
  text-shadow: none;
  background: #222;
}

/* line 566, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
img::-moz-selection {
  color: #fff;
  background: 0 0;
}
img::selection {
  color: #fff;
  background: 0 0;
}

/* line 571, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
img::-moz-selection {
  color: #fff;
  background: 0 0;
}

/* line 577, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
#animate {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

/* line 582, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.pic {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
}

/* line 588, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.small_icons {
  height: 200px;
}

/* line 591, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.L_pics {
  height: 400px;
}

/* line 595, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
.p1 {
  margin-bottom: 0px;
}

/* line 601, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
button.accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* line 613, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
button.accordion.active, button.accordion:hover {
  background-color: transparent;
}

/* line 617, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
button.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* line 624, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
button.accordion.active:after {
  content: "\2212";
}

/* line 628, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
div.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
/* line 634, /home/nimmy/Desktop/rankhub/app/assets/stylesheets/application.css.scss */
div.panel p {
  font-size: 18px;
}
