<footer>
        <div class="container">
            <p>&copy; 2016 All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Terms of Services</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
            </ul>
        </div>
    </footer>
