
<div class="innerFoot" style="background-color:#800000;padding-top:10px;color:white;padding-bottom:10px;">
  <div class="container ">
    <div class="msg-in">
      You’re viewing a beta version of the new RankHub website.   
      <%= link_to 'Leave Feedback', static_pages_feedback_path %>
      
    </div>
  </div>
</div>