<div class="innerFoot" >
  <div class="container ">
    <div class="msg-in">
      You’re viewing a beta version of the new RankHub website.       
       <a data-toggle="modal" href="#feedbackmdl">Leave Feedback</a>   
    </div>
  </div>
</div>


